body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*Start Button*/

.start-button {
	outline: none;
	padding-right:1%;
	border:none;
	position:absolute;
	animation-name: circleBlinking;
   	animation-duration: 4s;
   	animation-iteration-count: infinite;
   	font-size: 45px;
}



/*Title bar Style*/

.title-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.title {
	margin-top: 1px;
}

.level-up-desc {
	position:absolute;
	width:75px;
	padding:3px;
	left:2px;
	background-color: #444;
	color:#ffffff;
	animation-name: slideIn;
	animation-duration: 1s;
	animation-iteration-count: 1;
}


/*ANIMATION*/

.blink-animation{
   	animation-name: circleBlinking;
   	animation-duration: 1s;
   	animation-iteration-count: infinite;
}

.move-down{
	animation-name: moveDown;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.move-left{
	animation-name: moveLeft;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}


/*Blinking Animation*/
@keyframes circleBlinking {
	0% {
		opacity:1;
	}
	25% {
		opacity:0;
	}
	50% {
		opacity:1;
	}
	75% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}


/*Blinking Animation*/
@keyframes blinkingBorder {
	0% {
		border: #C9172B 3px solid;
	}
	25% {
		border: none;
	}
	50% {
		border: #C9172B 3px solid;
	}
	75% {
		border: none;
	}
	100% {
		border: #C9172B 3px solid;
	}
}

@keyframes slideIn {
	0%{
		top:-75px;
	}
	100%{
		top: 0px;
	}
}

@keyframes slideOut {
	0%{
		top:0px;
	}
	100%{
		top: -75px;
	}
}

.slideUpAnimation{
	animation: slideIn 1s 1;
	animation-delay:0s;
}

.slideOutAnimation{
	animation: slideOut 1s 1;
	animation-delay: 1s;
}

.level{
	font-size: 185px;
	color: #eee;
	text-align: center;
}

.pause-display{
	position: absolute;
	top: 20%;
	left: 20%;
	font-size: 105px;
	color: #444;
	text-align: center;
}

.lifeLost, .GameOver{
	font-size: 185px;
	color: #C9172B;
	text-align: center;
}

.redBorder{
	animation: blinkingBorder .03s infinite;
}

p{
	margin: 0;
}

#game-board{
	border: #eee 3px solid;
	margin-left: auto;
	margin-right: auto;
}